.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.nav {
  font-size: 2rem;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 0 5rem;
  height: 70px;

  &-logo {
    padding-top: 1rem;
    font-weight: bold;
    padding-left: 2rem;
    font-size: 3rem;
  }

  &-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    align-items: center;

    li {
      padding: 1rem;

      a {
        padding: 1rem;
        color: #fff;
        &:link,
        &:visited {
          display: inline-block;
        }

        &:hover {
          background-color: #93cb52;
          color: #fff;
          border-radius: .5rem;
        }
      }
    }
  }
}

.fa-book-open{
  background-color: #84c00c;
}