.chart_form {
  & > * {
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

th {
  background-color: lightpink;
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

.uncompleted {
  background-color: #ccc;
  //cursor: pointer;
}

tr:nth-child(odd) {
  //background-color: #dddddd;
}