.forms {
  display: flex;
  justify-content: space-between;
}

.tree {
  &__form {
    flex: 1;
    border: 2px solid #7f7d7d;
    border-radius: 5px;
    background-color: #ccc;
    margin: 5px;
  }

  &__group {
    display: flex;
    //justify-content: center;
    //align-items: center;
    & > * {
      height: 30px;
      flex: 1;
    }

    button {
      width: 100%;
    }
  }
}

.node {
  &__form {
    flex: 3;
    display: flex;
    flex-direction: column;
    border: 2px solid #7f7d7d;
    border-radius: 5px;
    background-color: #ccc;
    margin: 5px;
  }

  &__group {
    display: flex;

    & > * {
      flex: 1;
      height: 30px;
    }
  }
}

.node__property {
  border: 2px solid #7f7d7d;
  border-radius: 5px;
  background-color: #ccc;
  margin: 5px;
  flex:.5;
}
