//.dimmer {
//  display: flex !important;
//  justify-content: center !important;
//  align-items: center !important
//}

#btn {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
  //height: 80px;
  display: flex;
  width: 100%;
  flex-direction: column;
  font-size: 1.25rem;

  &:not(:last-child) {
    margin-bottom: 3px;
  }

  &:hover {
    color: #fff;
    background-color: #1c1f23;
    border-color: #1a1e21
  }
}

//h3 {
//  font-size: 18px;
//  margin-top: 20px;
//  margin-bottom: 5px;
//}
//
.modall__form {
  padding: 0 40px;

  input {
    display: block;
    width: 100%;
    font-size: 20px;
    padding: 5px 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;

    &.error {
      border-color: red;
    }
  }

  button {
    display: block;
    width: 100%;
    appearance: none;
    border-radius: 5px;
    background-color: #84c00c;
    color: #fff;
    border: none;
    font-size: 16px;
    height: 40px;
    margin-top: 30px;

    &:hover {
      background-color: #669509;
    }

    &:disabled {
      background-color: #dbf99f;
      color: #333;
    }

    &.small {
      display: inline-block;
      width: auto;
      padding: 0 20px;
      background-color: #777;
      font-size: 14px;

      &:hover {
        background-color: #999;
      }
    }
  }
}

.shareholder {
  display: flex;
  flex-direction: row;
  align-items: center;

  button {
    margin: 0;
    margin-left: 10px;
  }
}

.ui.page.modals.dimmer.transition.visible.active {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.ui.modal > .content {
  width: auto !important;
}

.ui.mini.modal.transition.visible.active {
  & * {
    font-size: 2rem !important;
  }

  //font-size: 4rem !important;
}

.ui.mini.modal {
  width: 100% !important;
  height: 45% !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}
