.p {
  &-top {
    &-small {
      padding-top: 1.5rem;
    }

    &-medium {
      padding-top: 2rem;
    }

    &-big {
      padding-top: 3rem;
    }
  }

  &-bottom {
    &-small {
      padding-bottom: 1.5rem;
    }

    &-medium {
      padding-bottom: 2rem;
    }

    &-big {
      padding-bottom: 3rem;
    }
  }

  &-right {
    &-small {
      padding-right: 1.5rem;
    }

    &-medium {
      padding-right: 2rem;
    }

    &-big {
      padding-right: 3rem;
    }
  }

  &-left {
    &-xsmall {
      padding-left: .5rem;
    }

    &-small {
      padding-left: 1.5rem;
    }

    &-medium {
      padding-left: 2rem;
    }

    &-big {
      padding-left: 3rem;
    }
  }
}

.m {
  &-top {
    &-small {
      margin-top: 1.5rem;
    }

    &-medium {
      margin-top: 2rem;
    }

    &-big {
      margin-top: 3rem;
    }
  }

  &-bottom {
    &-small {
      margin-bottom: 1.5rem;
    }

    &-medium {
      margin-bottom: 2rem;
    }

    &-big {
      margin-bottom: 3rem;
    }
  }

  &-right {
    &-small {
      margin-right: 1.5rem;
    }

    &-medium {
      margin-right: 2rem;
    }

    &-big {
      margin-right: 3rem;
    }
  }

  &-left {
    &-small {
      margin-left: 1.5rem;
    }

    &-medium {
      margin-left: 2rem;
    }

    &-big {
      margin-left: 3rem;
    }
  }
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.text {
  &-block {
    display: block;
  }

  &-center {
    text-align: center;
  }

  &-size {
    &-small {
      font-size: 2rem !important;
    }

    &-medium {
      font-size: 3rem !important;
    }

    &-big {
      font-size: 4rem !important;
    }
  }

  &-primary {
    color: #93cb52 !important;
  }

  &-dark {
    color: #333;
  }

  &-light {
    color: #fff;
  }
}

.bg {
  &-dark {
    background-color: #333;
    color: #fff;
  }

  &-light {
    background-color: #f4f4f4;
    color: #333;
  }

  &-primary {
    background: #93cb52;
    color: #fff;
  }
}

ul {
  list-style: none !important;
}

a {
  text-decoration: none !important;
  color: #fff !important;
}

